# Teste

In [78]:
import pandas as pd
import numpy as np

In [ ]:
#carregamos o arquivo em data
data = pd.read_csv("/home/fgv/code/env_prog/arc/dados.csv",header=2, sep=",")
#apagamos a ultima coluna
del data["Unnamed: 60"]
data

In [51]:
#convertendo nosso dataframe em um arquivo parquet
data.to_parquet("/home/fgv/code/env_prog/arc/aula06.parquet")

In [50]:
#faendo com que uma coluna seja o novo index
data_2 = data.set_index("Country Code")

In [ ]:
#retorna todas as linhas que tiverem o index igual a BRA
data_2.loc["BRA"]

In [ ]:
#aqui da coluna 1960, pegamos todas as linhas que não tiverem valores valores nulos e isso retorna um dataframe de cada linha com true ou false
#logo data exibe cada linha com true
data[pd.notna(data["1960"])]

In [86]:
#pegamos todas as linhas que onde 1960 nao esta vazio e 1970 nao esta vazio
#depois imprimimos as colunas "Country Name","1960","1970" desse arquivo data frame que continha todas as colunas que satisfaziam nossa condições

data[(pd.notna(data["1960"]))&(pd.notna(data["1970"]))][["Country Name","1960","1970"]]

     Country Name          1960          1970
79         Brazil -1.300000e+05  6.100000e+05
85         Brazil  1.260000e+06  2.734000e+07
94         Brazil  2.320000e+06 -5.280000e+06
95         Brazil -2.150000e+06 -1.186000e+07
106        Brazil  4.030000e+07  1.309000e+08
...           ...           ...           ...
1328       Brazil  4.567289e-01  2.300639e-02
1329       Brazil  5.354752e-01  9.125867e-01
1330       Brazil  6.795811e+00  6.316166e+00
1331       Brazil  1.269900e+09  2.738370e+09
1332       Brazil  2.204898e-01  2.278363e+00

[186 rows x 3 columns]